.button{
    float:left;
    width:500px;
    height:150px;
    background: rgb(23, 138, 247);
    font-size:30px;
    color:rgb(0, 255, 64);
    text-align:center;
    line-height:150px;
}

.horizon{
    float:left;
    width:500px;
    height:60px;
}

.verticle{
    float:left;
    width:500px;
    height:180px;
}

.horizonBlock{
    float:left;
    width:166px;
    height:60px;
}

.smallBlock{
    float:left;
    width:83px;
    height:60px;
    background:red;
    font-size:20px;
    color:grey;
    line-height:60px;
    text-align:center;    
}

.smallBlock2{
    float:left;
    width:83px;
    height:60px;
    font-size:20px;
    background:purple;
    color:green;
    line-height:60px;
    text-align:center;  
}

.smallBlock3{
    float:left;
    width:83px;
    height:60px;
    font-size:20px;
    background:yellow;
    color:purple;
    line-height:60px;
    text-align:center;  
}

.verticleBlock{
    float:left;
    width:500px;
    height:60px;
}

.bigBlock{
    float:left;
    width:250px;
    height:60px;
    font-size:20px;
    background:orange;
    color:red;
    line-height:60px;
    text-align:center;  
}

.bigBlock2{
    float:left;
    width:250px;
    height:60px;
    font-size:20px;
    background:red;
    color:yellow;
    line-height:60px;
    text-align:center;  
}

.bigBlock3{
    float:left;
    width:250px;
    height:60px;
    font-size:20px;
    background:green;
    color:blue;
    line-height:60px;
    text-align:center;  
}

.item{
    float:left;
    width:200px;
    height:100px;
}

.global{
    margin:0 auto;
    width:500px;
    height:3000px;
}

.clear{
    clear:both;
}



