
.global{
    width:1000px;
    margin:0 auto;
}
.clear{
    clear:both;
}
.item{
    float:left;
    width: 1000px;
    border:1px  solid red;
}
.name{
    float:left;
    width: 297px;
    height:60px;
    line-height: 60px;
    text-align: center;
    color: red;
    border-right:1px solid green;
}
.content{
    float:left;
    width: 700px;
}
.age{
    float:left;
    width: 700px;
    height:29px;
    border-bottom:1px solid green;
    line-height: 30px;
    text-align: center;
    color: blue;
}
.address{
    float:left;
    width: 700px;
    height:30px;
    line-height: 30px;
    text-align: center;
    color: green;
}
